@use '../settings/' as *;

.c-main-nav {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  padding: 0 calc(10% - 1em);
  @include flex($justify: space-between, $align: center, $column-gap: 40px);

  > h1 {
    font-family: 'League Script', cursive;
    font-weight: 900;
    font-size: clamp(24px, 4vw, 35px);
    flex-shrink: 0;

    > span {
      margin-left: 10px;
    }
  }

  > nav {
    @include flex($justify: space-around, $align: center, $column-gap: 40px);

    > ul {
      display: flex;
      column-gap: 60px;

      > li {
        display: flex;
        align-items: center;

        @media screen and (max-width: 767px) {
          font-size: 15px;
        }
      }
    }
  }
}