@use '../../settings/' as *;

.c-about {
  p {
    font-family: 'Calligraffitti', cursive;
    font-weight: 900;
    font-size: clamp(24px, 4vw, 35px);
    flex-shrink: 0;
    color: $main-color !important;
  }

  .c-about__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 120px;


    p {
      font-family: 'Calligraffitti', cursive;
      font-weight: 900;
      font-size: 4vw;
      max-width: 800px;
    }
  }

  .c-about-wrapper__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .c-about__a{
      margin-bottom: 100px;
    }

    .c-about__name {
      h2 {
        font-family: 'League Script', cursive;
        font-weight: 900;
        font-size: clamp(24px, 4vw, 35px);
        flex-shrink: 0;
        margin-bottom: 30px;

        span {
          margin-left: 10px;
        }
      }
    }
  }
}